<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Instructors</title>
</head>
<body>
    <!--<div sec:authorize="isAuthenticated()">-->
        <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <h2>All Instructors</h2>
<!--<div sec:authorize="isAuthenticated()">-->
    <!-- Learned how to do this here: https://www.baeldung.com/thymeleaf-list -->
<div>
    <form th:action="@{/admin/addInstructor}">
        <input type="submit" value="Add an Instructor"/>
    </form>
    <table>
<!--        <tr th:each="instructor : ${instructor}">-->
<!--            <td><a th:text="${instructor.id}">Instructor ID</a></td>-->
<!--            <td><a th:text="${instructor.title}">Instructor Name</a></td>-->
<!--            <td><a th:text="${course.title}">Course Name</a></td>-->
<!--            <td><input type="submit" value="Delete"/></td>-->
<!--        </tr>-->
    </table>
</div>
</body>
</html>